apiVersion: 1

datasources:
  - name: Loki
    type: loki
    access: proxy
    url: http://loki:3100
    isDefault: false
    version: 1
    editable: true
    jsonData:
      maxLines: 1000
      derivedFields:
        - datasourceUid: jaeger
          matcherRegex: "traceId\"?:\"?([0-9a-fA-F]+)"
          name: TraceID
          url: 'http://localhost:16686/trace/$${__value.raw}'
